# Scrapping Web

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.worldometers.info/coronavirus/'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'lxml')
table1 = soup.find('table', id='main_table_countries_today')

headers = []
for th in table1.find_all('th'):
    title = th.text
    headers.append(title)
headers[13] = 'Tests/1M pop'

mydata = pd.DataFrame(columns=headers)
for tr in table1.find_all('tr')[1:]:
    row_data = tr.find_all('td')
    row = [td.text for td in row_data]
    length = len(mydata)
    mydata.loc[length] = row

mydata.drop(mydata.index[0:7], inplace=True)
mydata.drop(mydata.index[222:229], inplace=True)
mydata.reset_index(inplace=True, drop=True)
mydata.drop('#', inplace=True, axis=1)
mydata.to_csv('covid_data_dunia.csv', index=False)

In [5]:
mydata2 = pd.read_csv('covid_data_dunia.csv')
mydata2

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,"676,101,245","+93,611","6,770,476",516.0,"648,428,772","+136,839","20,901,997","41,698","86,737",...,NaN,NaN,NaN,All,\n,NaN,NaN,NaN,NaN,NaN
1,USA,"104,453,003",NaN,"1,135,957",NaN,"101,520,517",NaN,"1,796,529","3,354","311,981",...,"1,160,733,449","3,466,891","334,805,269",North America,3,295,0.0,NaN,NaN,"5,366"
2,India,"44,683,250",NaN,"530,745",NaN,"44,150,713",NaN,"1,792",698,"31,766",...,"915,265,788","650,679","1,406,631,776",Asia,31,"2,650",2.0,NaN,NaN,1
3,France,"39,533,323",NaN,"164,286",NaN,"39,283,319","+5,429","85,718",869,"602,784",...,"271,490,188","4,139,547","65,584,518",Europe,2,399,0.0,NaN,NaN,"1,307"
4,Germany,"37,822,577",NaN,"166,128",NaN,"37,427,600","+3,600","228,849","1,281","450,894",...,"122,332,384","1,458,359","83,883,596",Europe,2,505,1.0,NaN,NaN,"2,728"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Total:,"67,755,556",+190,"1,347,947",73.0,"65,877,684","+3,782","529,925","10,227",NaN,...,NaN,NaN,NaN,South America,,NaN,NaN,NaN,NaN,NaN
229,Total:,"13,905,992",NaN,"25,446",NaN,"13,743,749",NaN,"136,797",78,NaN,...,NaN,NaN,NaN,Australia/Oceania,,NaN,NaN,NaN,NaN,NaN
230,Total:,"12,778,769",+176,"258,523",NaN,"12,063,631",NaN,"456,615",547,NaN,...,NaN,NaN,NaN,Africa,,NaN,NaN,NaN,NaN,NaN
231,Total:,721,NaN,15,NaN,706,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
232,Total:,"676,101,245","+93,611","6,770,476",516.0,"648,428,772","+136,839","20,901,997","41,698","86,737.5",...,NaN,NaN,NaN,All,\n,NaN,NaN,NaN,NaN,NaN